useDynLib(pbdSLAP)
# exportPattern("[[:alpha:]]+")
# exportPattern("^[\\.]")

import(methods, rlecuyer, pbdMPI)

export(
  ### "R/blacs.r"
  "slap.init.grid",
  "slap.exit.grid",
  "slap.finalize"
)

S3method(print, gridinfo)
